<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="form-container">
        <form method="POST" action="/auth/authentication">
            <h1>Login</h1>
            <input type="text" name="user" placeholder="Usuário/Email">
            <input type="password" name="password" placeholder="Senha">
            <button type="submit">Entrar</button>
            <a href="/auth/register">Registre-se</a>
            <a href="/">Voltar</a>
        </form>
    </div>
</body>
</html>