<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap" rel="stylesheet">
    <title>Registro</title>
</head>
<body>
    <div class="form-container">
        <form action="POST">
            <h1>Login</h1>
            <input type="text" name="user" placeholder="Usuário">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Senha">
            <input type="password" name="passwordConfirm" placeholder="Confirmar senha">
            <button type="submit">Cadastrar</button>
            <a href="/auth/login">Faça login</a>
            <a href="/">Voltar</a>
        </form>
    </div>
</body>
</html>