<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <title>ParkStop</title>
</head>
<body>
    <div class="container">

        <div class="home">
        <div class="icon">
            <h3 div="icon"><img src="../static/img/icon.jpg" alt=""></h3>
        </div>
            <a href=""><h4>Mensalidade</h4></a>
            <a href=""><h4>Vaga inteligente</h4></a>
            <a href="/auth/login"><h4><button>Login</button></h4></a>
        </div>
    
        <div class="backgroundCarros">
            <img src="../static/img/backgroundCarro.jpeg" alt="">
        </div>
    
        <div class="container-background">
            <div class="reservaEstacionamento">
                <img src="../static/img/caminhao.png" alt="">
                <img src="../static/img/segurança.png" alt="">
                <img src="../static/img/dinheiro.png" alt="">
            </div>

            <div class="legendas">
                <h2>Veículos de Grande Porte</h2>
                <h2>Segurança Garantida</h2>
                <h2>Preço Justo</h2>
            </div>

            <div class="botaoBackground">
                <button>
                    Reserve Agora
                </button>
            </div>
        </div>
        
        <hr>
        <div class="requisitosTrabalho">
            <div class="ideiaTrabalho">
                <h1>Sobre o nosso trabalho</h1>
                <p>Nosso trabalho é uma implementação de um sistema de estacionamento.
                    Iremos trabalhar com dois sensores, o primeiro sensor é o Sensor de Distância/Ultrassônico 
                    que vai identificar se existe um veículo ou não na vaga, também teremos o Sensor de luminosidade
                    que irá acender toda vez que a vaga for ocupada. Nosso sistema terá um controle de usuários e também
                    das vagas que estão disponíveis e que não estão, o cliente também vai poder reservar sua vaga 
                    diretamente do site.
                </p>
            </div>
            <div class="Framework">
                <h1>Framework escolhido</h1>
                <p>React
                    O react é o Framework que utilizaremos no projeto para a criação de interface de usuários. Ele oferece um sistema de gerenciamento de estado para simplificar a manipulação dos dados.

            Decidimos usá-lo pois:
        - oferece muitos recursos  e ferramentas úteis para facilitar o desenvolvimento web
        - usado por grandes empresas, sendo uma opção bem confiável
        - Alta performance 
        - permite a criação de componentes reutilizáveis para serem usados novamente em outras partes da aplicação, o que reduz a quantidade de código e acelera o processo de desenvolvimento
                </p>
            </div>
        </div>

    </div>

</body>
</html>