<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/parkingLots.css">
  <title>Document</title>
</head>
<body>
  {% block content %}
        <div class="parent">
          <div class="div1 {{parkingStates[0]}} park" > </div>
          <div class="div2 {{parkingStates[1]}} park " > </div>
          <div class="div3 {{parkingStates[2]}} park " > </div>
          <div class="div4 {{parkingStates[3]}} park" > </div>
          <div class="div5 {{parkingStates[4]}} park" > </div>
          <div class="div6 {{parkingStates[5]}} park" > </div>
          <div class="div7 {{parkingStates[6]}} park" > </div>
          <div class="div8 park" > </div>
          <div class="div9 " > </div>
          <div class="div10 " > </div>
          <div class="div11 "> </div>
          <div class="div12 "> </div>
          <div class="div13 "> </div>
          <div class="div14 {{parkingStates[7]}}  "> </div>
          <div class="div15  "> </div>
          <div class="div16 "> </div>
          <div class="div17  park"> </div>
          <div class="div18 park"> </div>
          <div class="div19 park"> </div>
          <div class="div20  {{parkingStates[9]}} park"> </div>
          <div class="div21 park"> </div>
          <div class="div22 park"> </div>
          <div class="div23 park"> </div>
          <div class="div24  {{parkingStates[10]}} park"> </div>
          <div class="div25 park"> </div>
          <div class="div26 park"> </div>
          <div class="div27 park"> </div>
          <div class="div28 park"> </div>
          <div class="div29 park"> </div>
          <div class="div30 park"> </div>
          <div class="div31 park"> </div>
          <div class="div32 park"> </div>
          <div class="div33 park"> </div>
          <div class="div34 park"> </div>
          <div class="div35 park"> </div>
          <div class="div36 park"> </div>
          <div class="div37 park"> </div>
          <div class="div38 park"> </div>
          <div class="div39 park"> </div>
          <div class="div40 park"> </div>
          <div class="div41 park"> </div>
          <div class="div42 park"> </div>
          <div class="div43 park"></div>
          <div class="div44 park"></div>
          <div class="div45 park"></div>
          <div class="div46 park"></div>
        </div>
  {% endblock %}
</body>
<script src="../../static/js/parkingLots.js"></script>
</html>